@use "../../variables.scss" as *;

.wrapperInput {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  .inputForm {
    background-color: $bg-input;
    min-height: 2.5rem;
    min-width: 100%;
    border-radius: 10px;
    color: $text;
    border: 1px solid $border;
  }
  .eyeButton {
    position: absolute;
    right: 0.75rem;
    background: none;
    border: none;
    cursor: pointer;
    color: $text-muted;
    display: flex;
    align-items: center;
  }
}
