.wrapper {
  .containerMessages {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 40px;
    box-shadow: 5px 5px 5px;
    background-color: white;
    gap: 1rem;
    overflow: auto;
    .containerTitle {
      width: 100%;
      .title {
        color: black;
        width: fit-content;
        position: relative;
        left: 1rem;
        font-family: sans-serif;
        font-weight: bold;
        font-size: medium;
      }
    }
    .header {
      color: black;
      height: 15%;
      left: 1rem;
      display: flex;
      flex-direction: row;
      .containerInput {
        width: 60%;
        .inputForm {
          height: 60%;
          width: 80%;
          position: relative;
          top: 20%;
          right: 1rem;
        }
      }
      .addChat {
        width: 40%;
        .iconAdd {
          position: relative;
          top: 25%;
          left: 3rem;
          border-radius: 0.5rem;
        }
        .iconAdd:hover {
          padding-right: 0.3rem;
        }
        .iconAdd:active {
          opacity: 0.5rem;
          transition: 0s;
        }
      }
    }
    .list {
      height: 80%;
      padding: 0.5rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 740px) {
  .wrapper {
    width: 100%;
    height: 80vh;
    .containerMessages {
      height: 100%;
      width: 90%;
    }
  }
}
