$text: #e7eaf3;
$background: #040508;
$primary: #9fb0d9;
$secondary: #2d447d;
$accent: #466ac4;

$bg-primary: $background;
$bg-secondary: $secondary;
$bg-bubble-sender: $accent;
$bg-bubble-receiver: $primary;

$text-primary: $text;
$text-muted: rgba(#e7eaf3, 0.5);
$text-error: #ff6b6b;

$border: rgba(#e7eaf3, 0.1);
$online: #1d9e75;
$button: $accent;
